@model ErrorModel
@{
    ViewData["Title"] = "Pedidos Payless v3";
    Layout = "_Layout";
}
<style>
    .div856Search {
        padding: 6px !important;
    }

    .txtCantPedir {
        background: rgba(234, 217, 205, 0.7);
    }
</style>
<div id="mainDiv">
    <form id="formNewDis" action="@this.Url.Action("SetNewDisPayless", "HomeExtern")" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="card-deck cardMain cardPayless">
                <div class="card box-shadow">
                    <div class="card-header card-header-payless">
                        <h4 class="my-0 font-weight-normal">Pedidos Payless</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <span id="spanClientName">
                                <span id="divSpinClientName" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                    <span class="sr-only">Loading...</span>
                                </span>
                            </span>
                            <b>Horario programado de entrega:</b>
                            <span id="spanClientSchedule">
                                <span id="divSpinClientSchedule" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                    <span class="sr-only">Loading...</span>
                                </span>
                            </span>
                        </div>
                        <div class="container div856Search">
                            <div class="row">
                                <div class="col-sm">
                                    <label for="dtpFechaEntrega">Fecha esperada de entrega</label>
                                    <input class="form-control datepicker" data-date-format="dd/mm/yyyy hh:ii" id="dtpFechaEntrega" name="dtpFechaEntrega" placeholder="dd/mm/yyyy HH:mm" maxlength="10" autocorrect="off" autocapitalize="off" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-check margin5">
                                        <input class="form-check-input" id="radFifo" name="radInvType" type="radio" checked="checked" value="fifo" />
                                        <label class="form-check-label" for="radFifo">FIFO</label>
                                    </div>
                                    @*<div class="form-check margin5">
                                        <input class="form-check-input" id="radLifo" name="radInvType" type="radio" value="lifo" />
                                        <label class="form-check-label" for="radLifo">LIFO</label>
                                    </div>*@
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm">
                                    <button type="button" class="btn btn-primary" id="btnAll" data-togle="tooltip" data-html="true" title="">
                                        Solicitar todo
                                        <div class="spinner-border spinner-border-sm text-danger divSpinQty" style="display: none" role="status">
                                            <span class="sr-only">...</span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid divPedidoPaylessMain">
                            <div class="row">
                                <div class="col-sm colPedido">
                                    <img src="~/images/woman2.jpg" class="pedidoPaylessIcon" />
                                    <div class="divPedidoPaylessOverInfo">
                                        <div class="divPedidoPaylessOverInfoContent">
                                            <span class="overInfoContentTittle">Damas<br /></span>
                                            <div class="overInfoContentContent">
                                                Existencias: <span id="spanWomanQty" class="qty"></span>
                                                <div class="spinner-border spinner-border-sm text-danger divSpinQty" style="display: none" role="status">
                                                    <span class="sr-only">...</span>
                                                </div>
                                                <br />
                                                CP: <span id="spanWomanCpQty"></span>
                                                <div class="spinner-border spinner-border-sm text-danger divSpinQty" style="display: none" role="status">
                                                    <span class="sr-only">...</span>
                                                </div>
                                                <br />
                                                Cant. a pedir:
                                                <input id="txtWomanQty" name="txtWomanQty" class="txtCantPedir" value="0" />
                                                <button type="button" class="btn btn-primary btnTodos" style="height: 22px; font-size: 10pt; padding: 5px; padding-top: 1px; max-width: 92%;">&nbsp;T&nbsp;</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm colPedido">
                                    <img src="~/images/man2.jpg" class="pedidoPaylessIcon" />
                                    <div class="divPedidoPaylessOverInfo">
                                        <div class="divPedidoPaylessOverInfoContent">
                                            <span class="overInfoContentTittle">Caballeros<br /></span>
                                            <div class="overInfoContentContent">
                                                Existencias: <span id="spanManQty" class="qty"></span>
                                                <div class="spinner-border spinner-border-sm text-danger divSpinQty" style="display: none" role="status">
                                                    <span class="sr-only">...</span>
                                                </div>
                                                <br />
                                                CP: <span id="spanManCpQty"></span>
                                                <div class="spinner-border spinner-border-sm text-danger divSpinQty" style="display: none" role="status">
                                                    <span class="sr-only">...</span>
                                                </div>
                                                <br />
                                                Cant. a pedir:
                                                <input id="txtManQty" name="txtManQty" class="txtCantPedir" value="0" />
                                                <button type="button" class="btn btn-primary btnTodos" style="height: 22px; font-size: 10pt; padding: 5px; padding-top: 1px; max-width: 92%;">&nbsp;T&nbsp;</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm colPedido">
                                    <img src="~/images/kids2.jpg" class="pedidoPaylessIcon" />
                                    <div class="divPedidoPaylessOverInfo">
                                        <div class="divPedidoPaylessOverInfoContent">
                                            <span class="overInfoContentTittle">Niñ@s<br /></span>
                                            <div class="overInfoContentContent">
                                                Existencias: <span id="spanKidQty" class="qty"></span>
                                                <div class="spinner-border spinner-border-sm text-danger divSpinQty" style="display: none" role="status">
                                                    <span class="sr-only">...</span>
                                                </div>
                                                <br />
                                                CP: <span id="spanKidCpQty"></span>
                                                <div class="spinner-border spinner-border-sm text-danger divSpinQty" style="display: none" role="status">
                                                    <span class="sr-only">...</span>
                                                </div>
                                                <br />
                                                Cant. a pedir:
                                                <input id="txtKidQty" name="txtKidQty" class="txtCantPedir" value="0" />
                                                <button type="button" class="btn btn-primary btnTodos" style="height: 22px; font-size: 10pt; padding: 5px; padding-top: 1px; max-width: 92%;">&nbsp;T&nbsp;</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm colPedido">
                                    <img src="~/images/acc2.jpg" class="pedidoPaylessIcon" />
                                    <div class="divPedidoPaylessOverInfo">
                                        <div class="divPedidoPaylessOverInfoContent">
                                            <span class="overInfoContentTittle">Accesorios<br /></span>
                                            <div class="overInfoContentContent">
                                                Existencias: <span id="spanAccQty" class="qty"></span>
                                                <div class="spinner-border spinner-border-sm text-danger divSpinQty" style="display: none" role="status">
                                                    <span class="sr-only">...</span>
                                                </div>
                                                <br />
                                                Cant. a pedir:
                                                <input id="txtAccQty" name="txtAccQty" class="txtCantPedir" value="0" />
                                                <button type="button" class="btn btn-primary btnTodos" style="height: 22px; font-size: 10pt; padding: 5px; padding-top: 1px; max-width: 92%;">&nbsp;T&nbsp;</button>
                                                <br />&nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <span id="spanTotal" class="font-weight-bold"></span>
                        <br />
                        <div class="container div856Search">
                            <div class="row">
                                <div class="col-sm">
                                    <button type="submit" class="btn btn-primary" id="btnNewDis" data-togle="tooltip" data-html="true" title="Seleccione los productos a pedir y acá click acá para solicitarlos">Crear pedido</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var ModalPopPeticionDet = null;
    var domtblReportes = null;
    var domtblPeticionDet = null;
    var mainGrid = null;
    var HashId = '';
    var foo = function () {
    }
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        }
        return decodeURI(results[1]) || 0;
    }    
    function reDrawObjects() {
        $('#spanClientName').css('display', 'block');
        if (window.mobileAndTabletcheck()) {
            $('#spanClientName').css('text-align', 'center');
            $('.pedidoPaylessIcon').width(window.outerWidth * 0.75);
            $('.divPedidoPaylessOverInfo').width(window.outerWidth * 0.75);
            $('.divPedidoPaylessMain').css('width', window.outerWidth * 0.90);
            $('.colPedido').css('margin-top', '10px');
            $('.divPedidoPaylessOverInfoContent').css('padding', 'unset');
            $('.divPedidoPaylessOverInfo').width($('.pedidoPaylessIcon').width());
            $('#dtpFechaEntrega').addClass('btn-block');
            $('#dtpFechaEntrega').css('margin-bottom', '16px');
            $('#dtpFechaEntrega').css('margin-top', '16px');
            $('#dtpFechaEntrega').css('margin-top', 'unset');

            $('.div856Search').css({ "max-width": "unset" });
            $('#dtpFechaEntrega').css({ "width": "100%" });
            $('.btn').css({ "margin-bottom": "10px" });
            $('.btn').addClass('btn-block');
            $('.divPedidoPaylessOverInfo').css({ "left": "unset" });
            $('.btnTodos').css({ "margin-top": "10px" });
        } else {
            $('#spanClientName').css('margin-bottom', '10px');
        }
    }
    function getClientName() {
        $('#divSpinClientName').show();
        $.ajax({
            method: "GET",
            url: "@this.Url.Action("GetClientName", "HomeExtern")",
            success: function (data) {
                if (data.info.codError != 0) {
                    menErrorEdi(data.info.mensaje, 'Error');
                    return;
                }
                $('#spanClientName').html(data.data);
                $('#divSpinClientName').hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                menErrorEdi(xhr.status, 'Error throw in js');
                menErrorEdi(thrownError, 'Error throw in js');
            }
        });
    }
    function getClientSchedule() {
        $('#divSpinClientName').show();
        $.ajax({
            method: "GET",
            url: "@this.Url.Action("GetClientNameScheduleById", "HomeExtern")",
            success: function (data) {
                if (data.info.codError != 0) {
                    menErrorEdi(data.info.mensaje, 'Error');
                    return;
                }
                $('#spanClientName').html(data.data.item1);
                $('#divSpinClientName').hide();
                $('#spanClientSchedule').html(data.data.item2);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                menErrorEdi(xhr.status, 'Error throw in js');
                menErrorEdi(thrownError, 'Error throw in js');
            }
        });
    }
    function refreshGrid(auto) {
        w2ui.grid.autoLoad = auto;
        w2ui.grid.skip(0);
    }
    function loadPedido(pedidoId) {
        alert(pedidoId);
    }
    @if (Model.Typ == 1) {
        @:function funcbtnOkMessageBox() { window.location.href = '/HomeExtern/Peticiones'; }
    }
    function showQtys() {
        $('.divSpinQty').show();
        $.ajax({
            url: '@this.Url.Action("GetPaylessProdPrioriInventario2", "Grids")',
            type: 'GET',
            dataType: 'JSON',
            success: function (json) {
                $('.divSpinQty').hide();
                $('.txtCantPedir').prop('disabled', false);
                if (json.errorMessage != '') {
                    menErrorEdi(json.errorMessage, 'Error en petición');
                    return json.data;
                }
                if (json.records) {
                    $('#btnAll').prop('disabled', false);
                    var total = 0;
                    $.each(json.records, function (indexI, itemO) {
                        switch (itemO.categoria) {
                            case 'DAMAS':
                                if (itemO.cp == 'No')
                                    $('#spanWomanQty').text(itemO.existencia);
                                else
                                    $('#spanWomanCpQty').text(itemO.existencia);
                                break;
                            case 'CABALLEROS':
                                if (itemO.cp == 'No')
                                    $('#spanManQty').text(itemO.existencia);
                                else
                                    $('#spanManCpQty').text(itemO.existencia);
                                break;
                            case 'NIÑOS / AS':
                                if (itemO.cp == 'No')
                                    $('#spanKidQty').text(itemO.existencia);
                                else
                                    $('#spanKidCpQty').text(itemO.existencia);
                                break;
                            case 'ACCESORIOS':
                                if (itemO.cp == 'No')
                                    $('#spanAccQty').text(itemO.existencia);
                                else
                                    $('#spanAccCpQty').text(itemO.existencia);
                                break;
                            default:
                        }
                    });
                    if ($('#spanWomanQty').text() == '') $('#spanWomanQty').text('0');
                    if ($('#spanWomanCpQty').text() == '') $('#spanWomanCpQty').text('0');
                    if ($('#spanManQty').text() == '') $('#spanManQty').text('0');
                    if ($('#spanManCpQty').text() == '') $('#spanManCpQty').text('0');
                    if ($('#spanKidQty').text() == '') $('#spanKidQty').text('0');
                    if ($('#spanKidCpQty').text() == '') $('#spanKidCpQty').text('0');
                    if ($('#spanAccQty').text() == '') $('#spanAccQty').text('0');
                    if ($('#spanAccCpQty').text() == '') $('#spanAccCpQty').text('0');
                    total = parseInt($('#spanWomanQty').text()) + parseInt($('#spanManQty').text())
                        + parseInt($('#spanKidQty').text()) + parseInt($('#spanAccQty').text()) + 
                        parseInt($('#spanWomanCpQty').text()) + parseInt($('#spanManCpQty').text())
                        + parseInt($('#spanKidCpQty').text());
                    $('#spanTotal').text('Total en inventario con existencia ' + total);
                    @if(ViewBag.PedidoIdToModify != 0)
                    {
                        @: loadPedido(@(ViewBag.PedidoIdToModify));
                    }
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                menErrorEdi(xhr.status, '');
                menErrorEdi(thrownError, '');
            }
        });
    }
    $('.txtCantPedir').prop('disabled', true);
    $('#btnAll').prop('disabled', true);
    $(document).ready(function () {
        $('.imgHeaderHelp').tooltip();
        //$('#dtpFechaEntrega').datepicker();
        $('#dtpFechaEntrega').datetimepicker({ format: 'dd/mm/yyyy hh:ii' });
        getClientSchedule();
        showQtys();
        reDrawObjects();
        $('.txtCantPedir').on('keypress', function (Event) {
            if (!isNumberKey(Event)) return false;
            if ($(this).attr('readonly') != undefined)
                return;
            var cant = parseInt($($(this).closest('div').find('.qty')[0]).text());
            var cantE = parseInt(Event.originalEvent.key);
            if (parseInt($(this).val() + cantE) > cant)
                return false;
        });
        $('#btnAll').on('click', function (Event) {
            if ($('#spanWomanQty').text() != '') $('#txtWomanQty').val($('#spanWomanQty').text());
            if ($('#spanManQty').text() != '') $('#txtManQty').val($('#spanManQty').text());
            if ($('#spanKidQty').text() != '') $('#txtKidQty').val($('#spanKidQty').text());
            if ($('#spanAccQty').text() != '') $('#txtAccQty').val($('#spanAccQty').text());
        });
        $('.btnTodos').on('click', function (Event) {
            $($(this).closest('div').find('.txtCantPedir')[0]).val($($(this).closest('div').find('.qty')[0]).text());
        });        
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {            
            @: menErrorEdi('@Html.Raw(Model.ErrorMessage.Replace(Environment.NewLine, "<br />"))');
        }        
    });
</script>