@model Tuple<ComModels.LearShp830, IEnumerable<ComModels.EdiSegName>, IEnumerable<ComModels.LearCodes>>
@using ComModels
<div class="row">
    <div class="col-sm">
        <div class="SegmentDataCol">
            <label>QuantityQualifier:</label>
            @Html.CodeToStr("SHP.QuantityQualifier", Model.Item1.QuantityQualifier, Model.Item3)
        </div>
    </div>
    <div class="col-sm">
        <div class="SegmentDataCol">
            <label>Quantity:</label>
            @Model.Item1.Quantity
        </div>
    </div>
    <div class="col-sm">
        <div class="SegmentDataCol">
            <label>DateTimeQualifier:</label>
            @Html.CodeToStr("SHP.DateTimeQualifier", Model.Item1.DateTimeQualifier, Model.Item3)            
        </div>
    </div>
    <div class="col-sm">
        <div class="SegmentDataCol">
            <label>AccumulationStartDate:</label>
            @Html.StrToDate(1, Model.Item1.AccumulationStartDate)
        </div>
    </div>
    <div class="col-sm">
        <div class="SegmentDataCol">
            <label>AccumulationTime:</label>
            @Model.Item1.AccumulationTime
        </div>
    </div>
    <div class="col-sm">
        <div class="SegmentDataCol">
            <label>AccumulationEndDate:</label>
            @Html.StrToDate(1, Model.Item1.AccumulationEndDate)            
        </div>
    </div>
</div>
