@model Tuple<ComModels.LearLin830, IEnumerable<ComModels.EdiSegName>, EdiViewer.Models.EdiDetailModel>
@using ComModels;

<div class="card box-shadow">
    <div class="card-header card-clin cursor" data-toggle="collapse" data-target="#@Model.Item1.HashId" aria-expanded="false" aria-controls="@Model.Item1.HashId">
        LIN - @Model.Item2.Where(Sn => Sn.Segment == "LIN").FirstOrDefault().Eng @Model.Item1.ProductId
    </div>
    <div class="collapse" id="@Model.Item1.HashId">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="SegmentDataCol">
                            <label>ProductIdQualifier:</label>
                            @Model.Item1.ProductIdQualifier
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="SegmentDataCol">
                            <label>ProductId:</label>
                            @Model.Item1.ProductId
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="SegmentDataCol">
                            <label>ProductRefIdQualifier:</label>
                            @Model.Item1.ProductRefIdQualifier
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="SegmentDataCol">
                            <label>ProductRefId:</label>
                            @Model.Item1.ProductRefId
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="SegmentDataCol">
                            <label>ProductPurchaseIdQualifier:</label>
                            @Model.Item1.ProductPurchaseIdQualifier
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="SegmentDataCol">
                            <label>ProductPurchaseId:</label>
                            @Model.Item1.ProductPurchaseId
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Item3.Data.ListLinN1.Where(LN1 => LN1.ParentHashId == Model.Item1.HashId).Count() > 0)
            {
                <div class="card box-shadow">
                    <div class="card-header card-cn1 cursor" data-toggle="collapse" data-target="#@Model.Item3.Data.ListLinN1.Where(LN1 => LN1.ParentHashId == Model.Item1.HashId).FirstOrDefault().HashId" aria-expanded="false" aria-controls="@Model.Item3.Data.ListLinN1.Where(LN1 => LN1.ParentHashId == Model.Item1.HashId).FirstOrDefault().HashId">
                        N1 - @Model.Item2.Where(Sn => Sn.Segment == "N1").FirstOrDefault().Eng
                    </div>
                    <div class="collapse" id="@Model.Item3.Data.ListLinN1.Where(LN1 => LN1.ParentHashId == Model.Item1.HashId).FirstOrDefault().HashId">
                        <div class="card-body">
                            <div class="container">
                                @foreach (LearN1830 N1 in Model.Item3.Data.ListLinN1.Where(LN1 => LN1.ParentHashId == Model.Item1.HashId))
                                {
                                    @await Html.PartialAsync("_DetailsOnN1830",
                                   new Tuple<LearN1830, IEnumerable<EdiSegName>>(
                                       N1,
                                       Model.Item2))
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            }
            @foreach (LearN4830 N4 in Model.Item3.Data.ListLinN4.Where(LN4 => LN4.ParentHashId == Model.Item1.HashId))
            {
                @await Html.PartialAsync("_DetailsOnN4830",
               new Tuple<LearN4830, IEnumerable<EdiSegName>>(
                   N4,
                   Model.Item2))
                <hr />
            }
            @foreach (LearNte830 Nte in Model.Item3.Data.ListLinNte.Where(LNte => LNte.ParentHashId == Model.Item1.HashId))
            {
                @await Html.PartialAsync("_DetailsOnNte830",
               new Tuple<LearNte830, IEnumerable<EdiSegName>>(
                   Nte,
                   Model.Item2))
                <hr />
            }

            @foreach (LearUit830 Uit in Model.Item3.Data.ListLinUit.Where(LNte => LNte.ParentHashId == Model.Item1.HashId))
            {
                @await Html.PartialAsync("_DetailsOnUit830",
               new Tuple<LearUit830, IEnumerable<EdiSegName>>(
                   Uit,
                   Model.Item2))
                <hr />
            }
            @foreach (LearPrs830 Prs in Model.Item3.Data.ListLinPrs.Where(LNte => LNte.ParentHashId == Model.Item1.HashId))
            {
                @await Html.PartialAsync("_DetailsOnPrs830",
               new Tuple<LearPrs830, IEnumerable<EdiSegName>>(
                   Prs,
                   Model.Item2))
                <hr />
            }
            @foreach (LearSdp830 Sdp in Model.Item3.Data.ListLinSdp.Where(LNte => LNte.ParentHashId == Model.Item1.HashId))
            {
                @await Html.PartialAsync("_DetailsOnSdp830",
               new Tuple<LearSdp830, IEnumerable<EdiSegName>, IEnumerable<LearFst830>>(
                   Sdp,
                   Model.Item2,
                   Model.Item3.Data.ListSdpFst.Where(F => F.ParentHashId == Sdp.HashId)))
                <hr />
            }

            @if (Model.Item3.Data.ListLinFst.Where(LNte => LNte.ParentHashId == Model.Item1.HashId).Count() > 0)
            {
                <div class="card box-shadow">
                    <div class="card-header card-cfst cursor" data-toggle="collapse" data-target="#@Model.Item3.Data.ListLinFst.Where(LNte => LNte.ParentHashId == Model.Item1.HashId).FirstOrDefault().HashId" aria-expanded="false" aria-controls="@Model.Item3.Data.ListLinFst.Where(LNte => LNte.ParentHashId == Model.Item1.HashId).FirstOrDefault().HashId">
                        FST - @Model.Item2.Where(Sn => Sn.Segment == "FST").FirstOrDefault().Eng
                    </div>
                    <div class="collapse" id="@Model.Item3.Data.ListLinFst.Where(LNte => LNte.ParentHashId == Model.Item1.HashId).FirstOrDefault().HashId">
                        <div class="card-body">
                            <div class="container">
                                @foreach (LearFst830 Fst in Model.Item3.Data.ListLinFst.Where(LNte => LNte.ParentHashId == Model.Item1.HashId))
                                {
                                    @await Html.PartialAsync("_DetailsOnFst830",
                                            new Tuple<LearFst830, IEnumerable<EdiSegName>>(
                                                Fst,
                                                Model.Item2))
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            }
            @if (Model.Item3.Data.ListLinAth.Where(LNte => LNte.ParentHashId == Model.Item1.HashId).Count() > 0)
            {
                <div class="card box-shadow">
                    <div class="card-header card-cath cursor" data-toggle="collapse" data-target="#@Model.Item3.Data.ListLinAth.Where(LNte => LNte.ParentHashId == Model.Item1.HashId).FirstOrDefault().HashId" aria-expanded="false" aria-controls="@Model.Item3.Data.ListLinAth.Where(LNte => LNte.ParentHashId == Model.Item1.HashId).FirstOrDefault().HashId">
                        ATH - @Model.Item2.Where(Sn => Sn.Segment == "ATH").FirstOrDefault().Eng
                    </div>
                    <div class="collapse" id="@Model.Item3.Data.ListLinAth.Where(LNte => LNte.ParentHashId == Model.Item1.HashId).FirstOrDefault().HashId">
                        <div class="card-body">
                            @foreach (LearAth830 Ath in Model.Item3.Data.ListLinAth.Where(LNte => LNte.ParentHashId == Model.Item1.HashId))
                            {
                                @await Html.PartialAsync("_DetailsOnAth830",
                                        new Tuple<LearAth830, IEnumerable<EdiSegName>>(
                                            Ath,
                                            Model.Item2))
                            }
                        </div>
                    </div>
                </div>
                <hr />
            }
            @if (Model.Item3.Data.ListLinShp.Where(LShp => LShp.ParentHashId == Model.Item1.HashId).Count() > 0)
            {
                <div class="card box-shadow">
                    <div class="card-header card-cshp cursor" data-toggle="collapse" data-target="#@Model.Item3.Data.ListLinShp.Where(LShp => LShp.ParentHashId == Model.Item1.HashId).FirstOrDefault().HashId" aria-expanded="false" aria-controls="@Model.Item3.Data.ListLinShp.Where(LShp => LShp.ParentHashId == Model.Item1.HashId).FirstOrDefault().HashId">
                        SHP - @Model.Item2.Where(Sn => Sn.Segment == "SHP").FirstOrDefault().Eng
                    </div>
                    <div class="collapse" id="@Model.Item3.Data.ListLinShp.Where(LShp => LShp.ParentHashId == Model.Item1.HashId).FirstOrDefault().HashId">
                        <div class="card-body">
                            <div class="container">
                                @foreach (LearShp830 Shp in Model.Item3.Data.ListLinShp.Where(LShp => LShp.ParentHashId == Model.Item1.HashId))
                                {
                                    @await Html.PartialAsync("_DetailsOnShp830",
                                            new Tuple<LearShp830, IEnumerable<EdiSegName>>(
                                                Shp,
                                                Model.Item2))
                                    @foreach (LearRef830 Ref in Model.Item3.Data.ListShpRef.Where(R => R.ParentHashId == Shp.HashId))
                                    {
                                        @await Html.PartialAsync("_DetailsOnRef830",
                                       new Tuple<LearRef830, IEnumerable<EdiSegName>>(
                                           Ref,
                                           Model.Item2))
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            }
            @foreach (LearRef830 Ref in Model.Item3.Data.ListLinRef.Where(LRef => LRef.ParentHashId == Model.Item1.HashId))
            {
                @await Html.PartialAsync("_DetailsOnRef830",
               new Tuple<LearRef830, IEnumerable<EdiSegName>>(
                   Ref,
                   Model.Item2))
                <hr />
            }
        </div>
    </div>
</div>
