@model Tuple<ComModels.LearShp830, IEnumerable<ComModels.EdiSegName>>
@using ComModels
<div class="row">
    <div class="col-sm">
        <div class="SegmentDataCol">
            <label>QuantityQualifier:</label>
            @Model.Item1.QuantityQualifier
        </div>
    </div>
    <div class="col-sm">
        <div class="SegmentDataCol">
            <label>Quantity:</label>
            @Model.Item1.Quantity
        </div>
    </div>
    <div class="col-sm">
        <div class="SegmentDataCol">
            <label>DateTimeQualifier:</label>
            @Model.Item1.DateTimeQualifier
        </div>
    </div>
    <div class="col-sm">
        <div class="SegmentDataCol">
            <label>AccumulationStartDate:</label>
            @Model.Item1.AccumulationStartDate
        </div>
    </div>
    <div class="col-sm">
        <div class="SegmentDataCol">
            <label>AccumulationTime:</label>
            @Model.Item1.AccumulationTime
        </div>
    </div>
    <div class="col-sm">
        <div class="SegmentDataCol">
            <label>AccumulationEndDate:</label>
            @Model.Item1.AccumulationEndDate
        </div>
    </div>
</div>
