@model Tuple<ComModels.LearFst830, IEnumerable<ComModels.EdiSegName>, IEnumerable<ComModels.LearCodes>, int>
<div class="row separator @(Model.Item4 % 2 == 0? "rowOdd" : "row")">
    <div class="col-sm">
        <div class="SegmentDataCol">
            @Html.StrToDate(1, @Model.Item1.FstDate)
        </div>
    </div>
    <div class="col-sm">
        <div class="SegmentDataCol">
            @Model.Item1.Quantity
        </div>
    </div>
    <div class="col-sm">
        <div class="SegmentDataCol">
            @Html.CodeToStr("FST.ForecastQualifier", Model.Item1.ForecastQualifier, Model.Item3)
        </div>
    </div>
    <div class="col-sm">
        <div class="SegmentDataCol">
            @Html.CodeToStr("FST.ForecastTimingQualifier", Model.Item1.ForecastTimingQualifier, Model.Item3)
        </div>
    </div>    
</div>
