<div class="modal fade2" id="modalCargaProdArchBodDet" tabindex="-1" role="dialog" aria-labelledby="modalCargaProdArchBodDetLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content modal-content-normal">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCargaProdArchBodDetLabel">Detalle</h5>
            </div>
            <div class="modal-body">
                <div id="divmodalCargaProdArchBodDetContent">
                    <ul class="nav nav-tabs" id="TabsDet" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab1" data-toggle="tab" href="#tabContent1" role="tab" aria-controls="tabContent1" aria-selected="true">Escaneado y no encontrado en Excel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab2" data-toggle="tab" href="#tabContent2" role="tab" aria-controls="tabContent2" aria-selected="false">En Excel y no escaneado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab3" data-toggle="tab" href="#tabContent3" role="tab" aria-controls="tabContent3" aria-selected="false">En Excel y escaneado</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="TabsDetContent">
                        <div class="tab-pane fade show active" id="tabContent1" role="tabpanel" aria-labelledby="home-tab">
                            <div id="gridRepDet3" style="min-height: 460px; width: 100%;"></div>                            
                        </div>
                        <div class="tab-pane fade" id="tabContent2" role="tabpanel" aria-labelledby="profile-tab">
                            <div id="gridRepDet2" style="min-height: 460px; width: 100%;"></div>
                        </div>
                        <div class="tab-pane fade" id="tabContent3" role="tabpanel" aria-labelledby="contact-tab">
                            <div id="gridRepDet1" style="min-height: 460px; width: 100%;"></div>
                        </div>
                    </div>
                    <br />                    
                </div>
            </div>
            <div class="modal-footer text-center">
                <button id="btnCargaProdArchBodDetOk" type="button" class="btn btn-success btnModal" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script>
    var idProdArch = 0;
    var gridRepDet1 = null;
    var gridRepDet2 = null;
    var gridRepDet3 = null;
    function refreshGrid(auto) {
        w2ui.grid.autoLoad = auto;
        w2ui.grid.skip(0);
    }
    function crearGrid1() {
        var config = {
            grid: {
                name: 'gridRepDet1',
                selectType: 'cell',
                bResponsive: true,
                bMobile: window.mobileAndTabletcheck(),
                url: '@this.Url.Action("GetPaylessFileDif", "Grids")?idProdArch=' + idProdArch + '&idData=3',
                show: {
                    footer: true,
                    toolbar: true,
                    expandColumn: window.mobileAndTabletcheck()                    
                },
                searches: [
                    { field: "oid", caption: "oid", type: 'text' },
                    { field: "barcode", caption: "Cod. caja", type: 'text' },
                    { field: "poolP", caption: "poolP", type: 'text' },
                    { field: "producto", caption: "Lote", type: 'text' },
                    { field: "talla", caption: "talla", type: 'text' },
                    { field: "lote", caption: "Estilo", type: 'text' },
                    { field: "categoria", caption: "Genero", type: 'text' },
                    { field: "departamento", caption: "departamento", type: 'text' },
                    { field: "cp", caption: "cp", type: 'text' }
                ],
                colShowResponsive: [
                    { field: 'barcode' },
                    { field: 'producto' }
                ],
                columns: [                    
                    { field: "id", caption: "id", hidden: true, sortable: true },
                    { field: "transporte", caption: "Transporte", sortable: true },
                    { field: "oid", caption: "oid", sortable: true },
                    { field: "barcode", caption: "Cod. caja", sortable: true },
                    { field: "pri", caption: "pri", sortable: true },
                    { field: "poolP", caption: "poolP", sortable: true },
                    { field: "producto", caption: "Lote", sortable: true },
                    { field: "talla", caption: "Estilo", sortable: true },
                    { field: "lote", caption: "lote", sortable: true },
                    { field: "categoria", caption: "Genero", sortable: true },
                    { field: "departamento", caption: "departamento", sortable: true },
                    { field: "cp", caption: "cp", sortable: true },
                    { field: "estado", caption: "estado", sortable: true }                    
                ]
            }
        };
        gridRepDet1 = $('#gridRepDet1').w2grid(config.grid);
        arrayGrids['gridRepDet1'] = gridRepDet1;
    }
    function crearGrid2() {
        var config = {
            grid: {
                name: 'gridRepDet2',
                selectType: 'cell',
                bResponsive: true,
                bMobile: window.mobileAndTabletcheck(),
                url: '@this.Url.Action("GetPaylessFileDif", "Grids")?idProdArch=' + idProdArch + '&idData=2',
                show: {
                    footer: true,
                    toolbar: true,
                    expandColumn: window.mobileAndTabletcheck()                    
                },
                searches: [
                    { field: "oid", caption: "oid", type: 'text' },
                    { field: "barcode", caption: "Cod. caja", type: 'text' },
                    { field: "poolP", caption: "poolP", type: 'text' },
                    { field: "producto", caption: "Lote", type: 'text' },
                    { field: "talla", caption: "talla", type: 'text' },
                    { field: "lote", caption: "Estilo", type: 'text' },
                    { field: "categoria", caption: "Genero", type: 'text' },
                    { field: "departamento", caption: "departamento", type: 'text' },
                    { field: "cp", caption: "cp", type: 'text' }
                ],
                colShowResponsive: [
                    { field: 'barcode' },
                    { field: 'producto' }
                ],
                columns: [                    
                    { field: "id", caption: "id", hidden: true, sortable: true },
                    { field: "oid", caption: "oid", sortable: true },
                    { field: "barcode", caption: "Cod. caja", sortable: true },
                    { field: "pri", caption: "pri", sortable: true },
                    { field: "poolP", caption: "poolP", sortable: true },
                    { field: "producto", caption: "Lote", sortable: true },
                    { field: "talla", caption: "Estilo", sortable: true },
                    { field: "lote", caption: "lote", sortable: true },
                    { field: "categoria", caption: "Genero", sortable: true },
                    { field: "departamento", caption: "departamento", sortable: true },
                    { field: "cp", caption: "cp", sortable: true },
                    { field: "estado", caption: "estado", sortable: true }                    
                ]
            }
        };
        gridRepDet2 = $('#gridRepDet2').w2grid(config.grid);
        arrayGrids['gridRepDet2'] = gridRepDet2;
    }
    function crearGrid3() {
        var config = {
            grid: {
                name: 'gridRepDet3',
                selectType: 'cell',
                bResponsive: true,
                bMobile: window.mobileAndTabletcheck(),
                url: '@this.Url.Action("GetPaylessFileDif", "Grids")?idProdArch=' + idProdArch + '&idData=3',
                show: {
                    footer: true,
                    toolbar: true,
                    expandColumn: window.mobileAndTabletcheck()                    
                },
                searches: [
                    { field: "barcode", caption: "Cod. caja", type: 'text' },
                    { field: "estado", caption: "Estado", type: 'text' }
                ],
                colShowResponsive: [
                    { field: 'barcode' },
                    { field: 'estado' }
                ],
                columns: [                    
                    { field: "barcode", caption: "Cod. caja", sortable: true },
                    { field: "estado", caption: "Estado", sortable: true }
                ]
            }
        };
        gridRepDet3 = $('#gridRepDet3').w2grid(config.grid);
        arrayGrids['gridRepDet3'] = gridRepDet3;
    }
    $(document).ready(function () {
        crearGrid1();
        crearGrid2();
        crearGrid3();
        $('.nav-tabs a').on('shown.bs.tab', function (event) {
            switch ($(event.target).attr('id')) {
                case 'tab1':                    
                    gridRepDet1.reload2('@this.Url.Action("GetPaylessFileDif", "Grids")?idProdArch=' + idProdArch + '&idData=1');
                    break;
                case 'tab2':
                    gridRepDet2.reload2('@this.Url.Action("GetPaylessFileDif", "Grids")?idProdArch=' + idProdArch + '&idData=2');
                    break;
                case 'tab3':
                    gridRepDet3.reload2('@this.Url.Action("GetPaylessFileDif", "Grids")?idProdArch=' + idProdArch + '&idData=3');
                    break;
                default:
            }
        });
    });
</script>